:root {
    /* COLORES CORPORATIVOS */
    --rojo-corporativo: #ff0000;
    --rojo-hover: #cc0000;
    --negro-fondo: #050505;
    --negro-tarjeta: #0d0d0d;
    --negro-menu: #000000;
    --negro-footer: #030303;
    --blanco-puro: #ffffff;
    --texto-secundario: #a0a0a0;
    --gris-borde: #1a1a1a;
    
    /* EFECTOS */
    --glow-slogan: 0 0 15px var(--rojo-corporativo), 0 0 30px var(--rojo-corporativo);
    
    /* TIPOGRAFÍAS */
    --fuente-logo: 'Sedgwick Ave', cursive;
    --fuente-texto: 'Inter', sans-serif;
    
    /* ESTRUCTURA */
    --max-width: 1400px;
}